.footer {
   background-color: #272727;
}
.footer li a:hover {
   transition: all 150ms ease-in-out;
   color: #4c98c9;
}
.footer__grid-container {
   padding: 60px 10px;
   margin: 0 auto;
   width: 1200px;
   display: grid;
   grid-template-columns: 270px 270px 270px 270px;
   justify-content: space-between;
}
.footer__grid-title {
   margin-bottom: 15px;
   font-size: 17px;
   line-height: 24px;
   color: #fff;
}
.footer__grid-descr {
   padding-bottom: 10px;
   color: #d5d5d5;
   font-size: 14px;
   line-height: 26px;
}
.footer__grid-descr:nth-child(2) {
   margin-bottom: 20px;
}
.footer__grid-contact-list li {
   padding: 5px 0;
}
.footer__grid-contact__link {
   font-size: 14px;
   color: #d5d5d5;
}
.footer__grid-categories-list li {
   padding: 5px 0;
   list-style: disc;
   list-style-position: inside;
   color: #d5d5d5;
}

.footer__grid-categories__link {
   font-size: 14px;
   color: #d5d5d5;
   transition: all 150ms ease-in-out;
}
.footer__copy {
   padding: 35px 0;
   margin: 0 auto;
   text-align: center;
   background: #232323;
}

.footer__copy p {
   font-size: 14px;
   color: #d5d5d5;
}
@media (max-width: 1280px) {
   .footer__grid-container {
      width: 1100px;
   }
   .footer__grid-descr {
      width: 240px;
   }
}

@media (max-width: 1200px) {
   .footer__grid-container {
      width: 1000px;
   }
   .footer__grid-descr {
      width: 220px;
   }
   .footer__grid-element {
      width: 220px;
   }
}
@media (max-width: 992px) {
}

@media (max-width: 767px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}
@media (max-width: 330px) {
}
