.footer {
   background-color: #272727;
}
.footer li a:hover {
   transition: all 150ms ease-in-out;
   color: #4c98c9;
}
.footer__grid-container {
   padding: 60px 0;
   margin: 0 auto;
   width: 1200px;
   display: grid;
   grid-template-columns: 270px 270px 270px 270px;
   justify-content: space-between;
}
.footer__grid-title {
   margin-bottom: 15px;
   font-size: 17px;
   line-height: 24px;
   color: #fff;
}
.footer__grid-figure {
   margin-bottom: 15px;
   display: flex;
}
.footer__grid-figure__image {
   width: 70px;
   height: auto;
}

.footer__grid-figcaption {
   margin-left: 15px;
}

.footer__grid-figcaption__title {
   margin-bottom: 5px;
   color: #fff;
   font-size: 15px;
   line-height: 1.4;
}
.footer__grid-figcaption__title a {
   transition: all 150ms ease-in-out;
}
.footer__grid-figcaption__date {
   text-transform: uppercase;
   color: #aaaaaa;
   font-size: 12px;
}
.footer__grid-descr {
   padding-bottom: 10px;
   color: #d5d5d5;
   font-size: 14px;
   line-height: 26px;
}
.footer__grid-socials {
   display: flex;
   align-items: center;
}
.footer__grid-socials li {
   margin-right: 8px;
}
.footer__grid-socials li:last-child {
   margin-right: 0;
}
.footer__grid-socials__item {
   width: 34px;
   height: 34px;
}
.footer__grid-descr:nth-child(2) {
   margin-bottom: 20px;
}
.footer__grid-contact-list li {
   padding: 5px 0;
}
.footer__grid-contact__link {
   font-size: 14px;
   color: #d5d5d5;
}

.footer__grid-form {
   margin-bottom: 38px;
   display: flex;
}
.footer__grid-email {
   margin-right: 6px;
   padding: 0 15px;
   height: 42px;
   border: 1px solid rgba(255, 255, 255, 0.4);
   border-radius: 4px;
   background: none;
   display: inline-block;
   font-size: 14px;
   font-weight: bold;
   color: #707070;
   transition: all 150ms ease-in-out;
}
.footer__grid-email:hover {
   border: 1px solid #4c98c9;
   transition: all 150ms ease-in-out;
}
.footer__grid-button {
   margin-bottom: 10px;
   padding: 15px 20px 14px;
   color: #fff;
   background: #4c98c9;
   border: 1px solid #4c98c9;
   border-radius: 4px;
   font-size: 13px;
   text-transform: uppercase;
   font-weight: bold;
   transition: all 150ms ease-in-out;
}
.footer__grid-button:active {
   border: 1px solid #fff;
}
.footer__grid-button:hover {
   background: #327daf;
}
.footer__grid-categories-list li {
   padding: 5px 0;
   list-style: disc;
   list-style-position: inside;
   color: #d5d5d5;
}

.footer__grid-categories__link {
   font-size: 14px;
   color: #d5d5d5;
   transition: all 150ms ease-in-out;
}

.footer__copy {
   padding: 35px 0;
   margin: 0 auto;
   text-align: center;
   background: #232323;
}

.footer__copy p {
   font-size: 14px;
   color: #d5d5d5;
}
