@import url(./layout.css);
@import url(./header.css);
@import url(./landing.css);
@import url(./build-website.css);
@import url(./features.css);
.menu,
.big-menu,
.sub-menu,
.sub-menu-left {
   position: absolute;
   display: none;
   pointer-events: none;
   z-index: 5;
}

.menu__list {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.menu__list > li {
   position: relative;
   padding: 10px 0px;
   margin-right: 40px;
   list-style: none;
}

.menu__list > li:last-child {
   margin-right: 0;
}

.menu__list > li:hover .menu {
   display: block;
   transform: translate(0, 0);
   pointer-events: all;
   transition: 1s ease 0s;
}
.menu__list > li.big-menu-container {
   position: static;
}

.menu__link {
   padding: 30px 0;
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   font-size: 13px;
   font-weight: 500;
   transition: 0.2s;
}
.menu__link:hover {
   color: #4c98c9;
}

.menu__sub-list > li {
   position: relative;
}
.menu__sub-list {
   padding: 10px 0;
   position: absolute;
   top: 30px;
   left: 0;
   min-width: 140px;
   text-align: left;
   background-color: #232323;
   min-width: 140px;
   text-align: left;
}

.big-menu {
   top: 100%;
   left: 0;
   right: 0;
   margin: 0 auto;
}
.big-menu__sub-list {
   display: flex;
   justify-content: space-between;
   padding: 10px 0;
   margin: 0 auto;
   max-width: 1200px;
   background-color: #232323;
}

.big-menu__sub-list li {
   list-style-type: none;
}

.big-menu__sub-list:first-child li {
   list-style-type: disc;
   list-style-position: inside;
}
.big-menu__sub-list li {
   padding: 10px 20px;
   color: #ccc;
   padding: 10px 20px;
   white-space: nowrap;
   line-height: 1;
   font-size: 13px;
   transition: 0.2s;
}

.big-menu-flex-col {
   padding: 0 15px 0 5px;
   box-sizing: border-box;
   width: 25%;
   border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.big-menu-flex-col:first-child {
   padding: 0 15px;
   border-left: none;
}
.big-menu__sub-link {
   color: #ccc;
   white-space: nowrap;
   line-height: 1;
   font-size: 13px;
   transition: 0.2s;
}

.big-menu__sub-link:hover {
   color: #fff;
}

.menu__sub-list > li:hover .sub-menu {
   display: block;
   transform: translate(0, 0);
   pointer-events: none;
   transition: 0.2s;
}

.menu__sub-list > li:hover .sub-menu-left {
   display: block;
   transform: translate(0, 0);
   pointer-events: none;
   transition: 0.2s;
}
.menu__sub-list-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.arrow {
   padding-right: 10px;
   display: flex;
   align-items: center;
   width: 10px;
   height: 10px;
}
.menu__sub-link {
   padding: 10px 20px;
   white-space: nowrap;
   line-height: 1;
   color: #ccc;
   font-size: 13px;
   transition: 0.2s;
}

.menu__sub-link:hover {
   color: #fff;
}

.sub-menu {
   padding: 10px 0;
   position: absolute;
   top: 0px;
   left: 100%;
   background-color: #232323;
   text-align: left;
   border-left: 1px solid rgb(78, 78, 78);
}
.sub-menu-left {
   padding: 10px 0;
   position: absolute;
   top: 0px;
   right: 100%;
   background-color: #232323;
   text-align: left;
   border-right: 1px solid rgb(78, 78, 78);
}
.sub-menu > li {
   padding: 10px 20px;
}
.sub-menu-left > li {
   padding: 10px 20px;
}
.sub-menu__sub-link {
   white-space: nowrap;
   line-height: 1;
   color: #ccc;
   font-size: 13px;
   transition: 0.2s;
}

.sub-menu__sub-link:hover {
   color: #fff;
}
